.game-control {
    margin-bottom: 20px;
  }
  
  .start-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .start-button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  
  .stop-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: crimson;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .stop-button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  